.gallery {
    margin: 1rem auto;
}

.gallery_text {
    text-align: center;
    margin: 2rem auto;
}

.gallery_text h2 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.card {
    border: 1px;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transform: scale(1.1);
}